<h1>My Dashboard</h1>

<nav>
  <ul>
    <li><%= link_to "Create gallery", new_gallery_path %></li>
  </ul>
</nav>

<section>
  <h2>Galleries</h2>
  <%= render(current_user.galleries) || "No galleries" %>
</section>

<section>
  <h2>Groups</h2>
  <%= render(current_user.groups) || "No groups" %>
</section>